In [32]:
import requests
import pandas as pd
from google.cloud import bigquery

### Request API

In [8]:
API_ENDPOINT = "https://meowfacts.herokuapp.com/?count=3"
response = requests.get(API_ENDPOINT)

### Procesamiento del dato del API

In [30]:
data = pd.DataFrame(response.json()["data"])
data.columns = ["fact"]
data["id"] = data.index+1

In [28]:
data

                                                fact  id
0  In ancient Egypt, killing a cat was a crime pu...   1
1  Like birds, cats have a homing ability that us...   2
2  Statistics indicate that animal lovers in rece...   3

### Save as CSV

### Save in BQ

In [34]:
client = bigquery.Client()
dataset_id = "dataset"
table_id = "api_ingest"

In [36]:
job_config = bigquery.LoadJobConfig(
    # Optional: Define schema if the table doesn't exist
    # schema=[
    #     bigquery.SchemaField('column1', 'INTEGER'),
    #     bigquery.SchemaField('column2', 'STRING')
    # ],
    write_disposition='WRITE_TRUNCATE'  # Replace existing table, or use 'WRITE_APPEND'
)

job = client.load_table_from_dataframe(
    data, 
    f'{dataset_id}.{table_id}', 
    job_config=job_config
)

In [37]:
job.result()

LoadJob<project=lgbaeza-202310, location=US, id=a5dc877f-1e24-4d5f-a57e-4eb936083cec>